In [111]:
import pandas as pd
import numpy as np

In [112]:
df = pd.read_csv('oil.csv')
df.head()

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades,cl
0,28-Feb-23,EQ,246.45,250.75,242.30,245.35,246.60,247.05,247.21,306.0,167.85,1891450.0,4.675868e+08,21492.0,258.48
1,27-Feb-23,EQ,242.90,246.00,238.45,243.15,245.95,245.35,243.14,306.0,167.85,1510429.0,3.672531e+08,22274.0,247.05
2,24-Feb-23,EQ,247.80,247.80,242.05,245.80,242.30,243.15,244.34,306.0,167.85,900959.0,2.201363e+08,11698.0,245.35
3,23-Feb-23,EQ,247.00,248.70,244.00,248.70,245.00,245.80,245.80,306.0,167.85,1957275.0,4.811068e+08,21009.0,243.15
4,22-Feb-23,EQ,245.90,251.65,242.55,254.80,249.85,248.70,246.61,306.0,167.85,2874767.0,7.089594e+08,29667.0,245.80

In [113]:
df['Diff'] = df['close '] - df['PREV. CLOSE ']
df

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades,cl,Diff
0,28-Feb-23,EQ,246.45,250.75,242.30,245.35,246.60,247.05,247.21,306.0,167.85,1891450.0,4.675868e+08,21492.0,258.48,1.70
1,27-Feb-23,EQ,242.90,246.00,238.45,243.15,245.95,245.35,243.14,306.0,167.85,1510429.0,3.672531e+08,22274.0,247.05,2.20
2,24-Feb-23,EQ,247.80,247.80,242.05,245.80,242.30,243.15,244.34,306.0,167.85,900959.0,2.201363e+08,11698.0,245.35,-2.65
3,23-Feb-23,EQ,247.00,248.70,244.00,248.70,245.00,245.80,245.80,306.0,167.85,1957275.0,4.811068e+08,21009.0,243.15,-2.90
4,22-Feb-23,EQ,245.90,251.65,242.55,254.80,249.85,248.70,246.61,306.0,167.85,2874767.0,7.089594e+08,29667.0,245.80,-6.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,7-Mar-22,EQ,251.00,257.40,245.30,244.65,248.20,249.20,249.29,267.8,112.00,6788037.0,1.692188e+09,84600.0,245.90,4.55
246,4-Mar-22,EQ,251.00,257.70,241.70,245.30,244.00,244.65,248.74,267.8,112.00,3855431.0,9.589945e+08,64883.0,249.20,-0.65
247,3-Mar-22,EQ,252.25,262.90,243.50,244.50,245.90,245.30,254.01,267.8,112.00,7819565.0,1.986239e+09,105057.0,244.65,0.80
248,2-Mar-22,EQ,232.40,246.50,228.25,222.95,244.55,244.50,242.05,267.8,112.00,6800849.0,1.646148e+09,76221.0,245.30,21.55
249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,244.50,NaN

In [114]:
df.columns

Index(['Date ', 'series ', 'OPEN ', 'HIGH ', 'LOW ', 'PREV. CLOSE ', 'ltp ',
       'close ', 'vwap ', '52W H ', '52W L ', 'VOLUME ', 'VALUE ',
       'No of trades ', 'cl', 'Diff'],
      dtype='object')

In [115]:
corr_matrix = df.corr()

In [116]:
corr_matrix['cl'].sort_values(ascending = False)

cl               1.000000
ltp              0.968240
close            0.967226
vwap             0.962531
LOW              0.958857
HIGH             0.954001
OPEN             0.937014
PREV. CLOSE      0.924859
VALUE            0.433305
No of trades     0.401736
VOLUME           0.355953
Diff             0.172859
52W H           -0.450187
52W L           -0.503287
Name: cl, dtype: float64

In [117]:
y = df[['cl']]

In [118]:
x=df[['OPEN ', 'HIGH ', 'LOW ', 'PREV. CLOSE ', 'ltp ', 'vwap ', 'VOLUME ',
       'No of trades ']]

test = pd.DataFrame(x)
x.to_csv('test.csv')

In [125]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=12)

In [126]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [128]:
y_pred = regressor.predict([(246.45,250.75,242.3,245.35,246.6,247.21,1891450,21492)])
y_pred

C:\Users\Meet Zaveri\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[245.46446632]])

In [78]:
y_pred1 = regressor.predict([(242.9,246,238.45,243.15,245.95,243.14,1510429,367253073,22274)])
y_pred1

C:\Users\Meet Zaveri\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[2.48208486]])

In [1]:
from websocket import create_connection

In [2]:
from TradingviewData import TredingViewData,Interval
request = TredingViewData()

In [3]:
data = request.get_hist(symbol='BTCUSDT',exchange='BINANCE',interval=Interval.min_1,n_bars=200)
data

,symbol,open,high,low,close,volume
datetime,,,,,,
2023-04-25 14:10:00,BINANCE:BTCUSDT,27307.29,27314.19,27294.54,27302.29,46.18244
2023-04-25 14:11:00,BINANCE:BTCUSDT,27302.29,27316.20,27297.28,27306.90,25.68252
2023-04-25 14:12:00,BINANCE:BTCUSDT,27306.90,27329.67,27306.89,27329.66,32.34353
2023-04-25 14:13:00,BINANCE:BTCUSDT,27329.67,27348.42,27329.66,27345.20,17.00803
2023-04-25 14:14:00,BINANCE:BTCUSDT,27345.19,27363.26,27345.19,27362.58,36.90837
...,...,...,...,...,...,...
2023-04-25 17:25:00,BINANCE:BTCUSDT,27386.74,27386.75,27384.20,27384.21,11.83098
2023-04-25 17:26:00,BINANCE:BTCUSDT,27384.21,27399.29,27384.20,27399.28,15.88046
2023-04-25 17:27:00,BINANCE:BTCUSDT,27399.29,27399.98,27384.79,27385.32,16.84488
2023-04-25 17:28:00,BINANCE:BTCUSDT,27385.32,27395.05,27385.32,27395.05,16.75573
2023-04-25 17:29:00,BINANCE:BTCUSDT,27395.05,27396.53,27394.77,27394.77,13.13669